.biztool-input-cell {
  border-radius: 0% !important;
}

.biztool-input-cell-no-border {
  border-radius: 0% !important;
  border: none !important;
}

.option-cell:hover {
  cursor: pointer;
  background-color: rgb(243, 243, 243);
}

.option-cell {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 45px;
}

.hide-option-cell {
  width: 25px;
  height: 45px;
}

.seasonal-row-style {
  overflow: scroll;
  min-width: 400px;
  border: 1px solid rgb(21, 95, 255);
}

.seasonal-cell-style {
  min-width: 100px;
  border: 1px solid aquamarine;
  border-radius: 0% !important;
}